* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: vazir;
    /* font-size: 62.5%; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --primary: #DE2910 !important;
}

.primary-color {
    color: #DE2910;
}

a {
    cursor: pointer;
}

a:hover {
    color: #DE2910;

}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

.subtitle1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #393C41;

}

.subtitle2 {
    font-size: 1rem;
    font-weight: 800;
    color: #393C41;

}

.body1 {
    font-size: 0.875rem;
    font-weight: 800;
}

.body2 {
    font-size: 0.75rem;
    font-weight: 800;
}